language: go
go: 
  - 1.12.9
dist: xenial
notifications:
  email: false
git:
  depth: 1
before_install:
  - openssl aes-256-cbc -K $encrypted_81c951c9775b_key -iv $encrypted_81c951c9775b_iv -in .netrc.enc -out .netrc -d
  - cp .netrc ~/.netrc
  - chmod 600 ~/.netrc                                                              
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh  
install:
  - dep ensure -vendor-only
jobs:
  include:
    - stage: check_files
      script: pwd & ls -a & ls core & ls errors & ls hashing & ls identity & ls p2p & ls consensus
    - stage: build
      script: go build -o main .
    - stage: test
      script: go test ./... -v -cover -race