os: linux
distro: bionic
language: go
go:
  - 1.12.x
sudo: required
notifications:
  email: false
before_install:
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
install:
  - dep ensure
  - dep ensure -vendor-only
jobs:
  include:
    - stage: build binary
      go:
        - 1.12.x
        - 1.11.x
        - 1.10.x
        - 1.9.x
        - 1.8.x
      script: go build -o main .
    - stage: test
      go:
        - 1.12.x
      script: go test ./... -v -race
    - stage: generate coverage
      go:
        - 1.12.x
      script: go test ./... -race -coverprofile=coverage.txt -covermode=atomic
      after_success:
        - bash <(curl -s https://codecov.io/bash)
    - stage: build and run docker image
      go:
        - 1.12.x
      services:
        - docker
      before_install:
        - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
        - sudo apt-get update
        - sudo apt-get install -o Dpkg::Options::="--force-confold" --force-yes -y docker-ce
      script:
        - docker build -t elections-bc .
        - docker run --rm -d -p 8080:8080/tcp elections-bc